.menuLista{
      --background:rgb(37, 194, 241);  
      --color:white;
            
      }

#map_canvas {  
      width: auto;
      height: 75%;
      border: 1px solid rgb(37, 194, 241);
      border-radius: 2%;
      border-width: 5%;
}
